@import 'variables-site/variables-site';

#about-page {
  margin-top: 80px;
  width: 100%;
  color: black;
  .about__opening {
    position: relative;
    .about__opening-image-wrapper {
      position: fixed;
      // margin: $margin__mobile;
      margin: 0 -7%;

      overflow: hidden;
      z-index: -1;
      height: 60vh;
      top: 80px;
      .about__opening-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .about__opening-text-wrapper {
      position: relative;
      margin-top: 250px;
      background: rgba(245, 240, 232, 0.75);
      padding: 30px 0;
      .about__opening-title {
        margin: $margin__mobile;
        font-family: $font__main--bold;
        font-size: 30px;
        line-height: 35px;
        width: 60%;
      }
      .about__opening-text {
        margin: $margin__mobile;
        font-size: 18px;
        line-height: 22px;
        p {
          margin: 15px 0;
        }
        p:nth-child(2) {
          margin: 15px 0 0 0;
        }
      }
    }
  }

  .about__our-philosophy {
    background-color: $color__white;
    position: relative;
    padding: 30px 0;
    .about__philosophy-arrows {
      position: absolute;
      left: -21%;
      top: 100px;
      max-width: 140%;
    }
    .about__philosophy-text-wrap {
      position: relative;
      z-index: 1;
      margin: $margin__mobile;
      .about__philosophy-title {
        font-family: $font__main--bold;
        font-size: 30px;
        line-height: 35px;
      }
      .about__philosophy-text1 {
        font-size: 18px;
        line-height: 22px;
      }
      .about__philosophy-image1 {
      }
      .about__philosophy-text2 {
        font-size: 18px;
      }
      .about__philosophy-image2 {
        display: none;
      }
    }
  }
  .about__our-team {
    padding: 10px 0 0 0;
    background-color: $color__white;
    .about__our-team-title {
      font-family: $font__main--bold;
      font-size: 30px;
      line-height: 35px;
      margin-left: 6%;
    }
    #about__our-team-wrapper {
      margin-top: 20px;
      .slick-list {
        .slick-track {
          .about__our-team-member {
            padding: 0 5px;
            outline: none;
            img {
              height: 300px;
              width: 100%;
              object-fit: cover;
              object-position: top;
            }
            .about__our-team-member-name {
              font-family: $font__main--bold;
              font-size: 26px;
              line-height: 26px;
              padding-top: 15px;
            }
            .about__our-team-member-title {
              font-family: $font__main--med;
              font-size: 18px;
              line-height: 26px;
            }
            .about__our-team-member-about {
              font-family: $font__main--med;
              font-size: 18px;
              line-height: 22px;
              padding-top: 5px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
  .about__get-in-touch-wrapper {
    background-color: $color__white;
    padding: 0 6% 30px 6%;
    .about__get-in-touch {
      background-color: black;
      border-radius: 22px;
      color: $color__white;
      font-family: $font__main--med;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 100%;
      text-decoration: none;
      display: inline-block;
      margin-top: 60px;
    }
  }
  .about__certifications {
    background-color: $color__white;
    padding: 60px 0 20px 0;
    // margin: 80px -7% 0 -7%;
    .about__certifications-title {
      margin: $margin__mobile;
      font-family: $font__main--bold;
      font-size: 30px;
      line-height: 35px;
      margin-left: 6%;
    }
    #about__certification-logo-wrapper {
      margin-top: 20px;
      .slick-list {
        .slick-track {
          img {
            width: 90%;
            padding: 0 10px;
            outline: none;
          }
        }
      }
    }
  }
}

// IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #about-page {
    .about__our-team {
      #about__our-team-wrapper {
        // .slick-list {
        //   .slick-track {
        //     .about__our-team-member {
        //       img {
        //         height: 500px;
        //       }
        //     }
        //   }
        // }
        margin: $margin__mobile;        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        .about__our-team-member {
          img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: top;
            
          }
          .about__our-team-member-name {

          }
          .about__our-team-member-title {

          }
          .about__our-team-member-about {

          }
        }
      }
    }
    .about__certifications {
      #about__certification-logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: $margin__mobile;
        justify-content: space-between;
        img {
          width: 48%;
          height: 150px;
          object-fit: contain;
        }
      }
    }
  }
}

// IPAD PRO 10.5"
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}

// DESKTOP
@media screen and (min-width: 1025px) {
  #about-page {
    // margin: $margin__desktop;
    // width: 92%;
    .about__opening {
      // margin: 100px -5% 60px -5%;
      height: 80vh;
      .about__opening-image-wrapper {
        height: 80vh;
        margin: 0;
        .about__opening-image {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .about__opening-text-wrapper {
        position: absolute;
        top: -5%;
        width: 55%;
        bottom: 0;
        // padding-top: 8%;
        padding-left: 1%;
        margin-top: 0;
        .about__opening-title {
          padding-top: 8%;          
          font-size: 35px;
          width: 100%;
        }
        .about__opening-text {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
    .about__our-philosophy {
      .about__philosophy-arrows {
        height: 700px;
        width: 140%;
        opacity: 0.8;
      }
      .about__philosophy-text-wrap {
        .about__philosophy-title {
          font-size: 35px;
          padding-top: 100px;
        }
        .about__philosophy-text1 {
          font-size: 24px;
          line-height: 30px;
          width: 45%;
        }
        .about__philosophy-image1 {
          width: 55%;
          height: 350px;
          object-fit: cover;
          margin-bottom: 100px;
        }
        .about__philosophy-text2 {
          font-size: 24px;
          line-height: 30px;
          width: 40%;
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .about__philosophy-image2 {
          display: block;
          position: absolute;
          width: 40%;
          height: 500px;
          object-fit: cover;
          right: 0;
          top: 30px;
        }
      }
    }
    .about__our-team {
      padding: 60px 0 0 0;
      .about__our-team-title {
        margin: $margin__desktop;
        font-size: 35px;
      }
      #about__our-team-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: $margin__desktop;
        padding-top: 25px;
        .about__our-team-member {
          width: 48%;
          margin-bottom: 40px;
          img {
            height: 400px;
            width: 100%;
            object-fit: cover;
            object-position: top;
          }
          .about__our-team-member-name {
            font-family: $font__main--bold;
            font-size: 26px;
            line-height: 26px;
            padding-top: 15px;
          }
          .about__our-team-member-title {
            font-family: $font__main--med;
            font-size: 18px;
            line-height: 26px;
          }
          .about__our-team-member-about {
            font-family: $font__main--med;
            font-size: 18px;
            line-height: 22px;
            padding-top: 5px;
            padding-right: 20px;
          }
        }
      }
    }
    .about__get-in-touch-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      .about__get-in-touch {
        width: 300px;
        height: 60px;
        line-height: 60px;
        border-radius: 35px;
        border: 1px solid black;
        &:hover {
          background-color: $color__green;
          color: black;
        }
      }
    }
    .about__certifications {
      padding: 80px 0 0 0;
      .about__certifications-title {
        margin: $margin__desktop;
      }
      #about__certification-logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: $margin__desktop;
        img {
          width: 33.33%;
          object-fit: contain;
          height: 150px;
          padding: 0 20px;
        }
      }
    }
  }
}
