@import 'variables-site/variables-site';
input, textarea {
  -webkit-appearance: none;
}
.choice-chosen {
  border: 5px solid $color__green !important;
}
#sober-life-hidden-form {
  display: none;
}
#soberlife-form-wrapper {
  height: calc(100% - 33px);
  width: 100vw;
  overflow: hidden;
  position: fixed;
  display: block;
  top: 33px;
  left: 100%;
  z-index: 101;
  transition: left 0.5s ease-in-out; 
  background-color: #f5f0e8;
  .form__relative-layer {
    position: relative;
    height: 100%;
    width: 100%;
    section.form__contact-info {
      display: none;
    }

    section.form__progress-bar {
      position: absolute;
      top: calc(100% - 50px);
      left: 0;
      height: 50px;
      width: 100%;
      .process {
        height: 100%;
        width: 12.5%;
        background-color: $color__green;
        transition: width 0.5s ease-in-out;
      }
    }

    .form__x-button {
      position: absolute;
      display: block;
      top: 50px;
      right: 50px;
      height: 40px;
      width: 40px;
      z-index: 11111;
      img {
        height: 100%;
        width: 100%;
        transition: all 1s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: rotate(360deg);
        }
      }
    }

    section {
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 100%;
      .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .loading-screen {
      left: 0;
      opacity: 0;
      background-repeat: no-repeat;
      background-size: 80% 80%;
      background-position: center;
      transition: all 0.5s ease-in-out;
      .content-wrapper {
        color: #000;
        font-family: $font__main--med;
        font-size: 4em;
        text-align: center;
      }
    }

    .question__your-name {
      left: 0;
      transition: left 0.5s ease-in-out;
      h1 {
        font-size: 4em;
        margin: 0;
        width: 100%;
        text-align: center;
        color: #000;
        font-family: $font__main--med;
      }
      .inputWrapper {
        position: relative;
        width: 50vw;
        color: #000;
        #client-name {
          width: 100%;
          height: 100px;
          border: 5px solid rgb(225, 218, 210);
          border-radius: 50px;
          background-color: transparent;
          padding-left: 50px;
          line-height: 100px;
          color: #000;
          font-size: 2em;
          font-family: $font__main--med;
          &:focus {
            outline: none;
          }
          &::-webkit-input-placeholder {
            color: #000;
            font-family: $font__main--med;
          }
        }
        .your-name__next-button {
          position: absolute;
          top: 50%;
          right: 25px;
          height: 100%;
          display: flex;
          align-items: center;
          opacity: 0.1;
          pointer-events: none;
          transform: translate(-50%, -50%);
          &:hover {
            cursor: pointer;
          }
          img {
            height: 40px;
          }
        }
      }
    }

    .question__client-target {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        text-align: center;
        h1 {
          font-size: 4em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .target-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .client-target {
            border: 5px solid #000;
            height: 80px;
            width: 300px;
            border-radius: 40px;
            line-height: 80px;
            font-family: $font__main--med;
            font-size: 2em;
            margin: 50px 30px 0;
            color: #000;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .client-target__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
    }

    .question__loved-one-name {
      left: 100%;
      transition: left 0.5s ease-in-out;
      h1 {
        font-size: 4em;
        margin: 0;
        width: 100%;
        text-align: center;
        color: #000;
        font-family: $font__main--med;
      }
      .inputWrapper {
        position: relative;
        width: 50vw;
        color: #000;
        #loved-one-name {
          width: 100%;
          height: 100px;
          border: 5px solid rgb(225, 218, 210);
          border-radius: 50px;
          background-color: transparent;
          padding-left: 50px;
          line-height: 100px;
          color: #000;
          font-size: 2em;
          font-family: $font__main--med;
          &:focus {
            outline: none;
          }
          &::-webkit-input-placeholder {
            color: #000;
            font-family: $font__main--med;
          }
        }
        .loved-one-name__next-button {
          position: absolute;
          top: 50%;
          right: 25px;
          height: 100%;
          display: flex;
          opacity: 0.1;
          pointer-events: none;
          align-items: center;
          transform: translate(-50%, -50%);
          &:hover {
            cursor: pointer;
          }
          img {
            height: 40px;
          }
        }
      }
      .loved-one-name__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
    }

    .question__client-gender {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        h1 {
          font-size: 4em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .genders-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
          margin-top: 20px;
          .gender-choice {
            width: 20%;
            height: 40vh;
            border: 5px solid rgb(172, 168, 162);
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $font__main--med;
            font-size: 2em;
            color: #000;
            img {
              height: 35%;
              margin-bottom: 40px;
            }
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            } 
          }
        }
      }
      .client-gender__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
    }

    .question__client-feeling {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        h1 {
          font-size: 4em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .feelings-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
          margin-top: 20px;
          .feeling-choice {
            width: 20%;
            height: 40vh;
            border: 5px solid rgb(172, 168, 162);
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $font__main--med;
            font-size: 2em;
            color: #000;
            text-align: center;
            img {
              height: 35%;
              margin-bottom: 40px;
            }
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            } 
          }
        }
      }
      .client-feeling__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
    }

    .question__loved-one-feeling {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        h1 {
          font-size: 4em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .loved-one-feelings-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
          margin-top: 20px;
          .loved-one-feeling-choice {
            width: 20%;
            height: 40vh;
            border: 5px solid rgb(172, 168, 162);
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $font__main--med;
            font-size: 2em;
            color: #000;
            text-align: center;
            img {
              height: 35%;
              margin-bottom: 40px;
            }
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            } 
          }
        }
      }
      .loved-one-feeling__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
    }

    .question__client-substances-used {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        h1 {
          font-size: 4em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .substances-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 100%;
          .substance-choice {
            width: 300px;
            height: 70px;;
            border: 5px solid #000;
            border-radius: 35px; 
            text-align: center;
            line-height: 70px;
            margin: 20px;
            font-family: $font__main--med;
            font-size: 1.7em;
            color: #000;
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            }
          }
        }
        .other-substances-used {
          margin: 0 auto;
          height: 70px;
          border: 5px solid rgb(225, 218, 210);
          border-radius: 35px;
          width: 40%;
          display: block;
          background-color: $color__white;
          color: #000;
          font-size: 1.5em;
          padding-left: 25px;
          font-family: $font__main--med;
          &::placeholder {
            color: #000;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .substances-used__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
      .substances-used__skip {
        position: absolute;
        bottom: 80px;
        right: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          margin-left: 10px;
        }
      }
      .substances-used__next {
        display: none;
        position: absolute;
        bottom: 80px;
        right: 50px;
        height: 50px;
        width: 150px;
        border: 5px solid #000;
        text-align: center;
        line-height: 45px;
        font-family: $font__main--med;
        color: #000;
        border-radius: 25px;
        &:hover {
          border: 5px solid $color__green;
          cursor: pointer;
        }
      }
    }

    .question__loved-one-substances-used {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        h1 {
          font-size: 4em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .substances-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 100%;
          .substance-choice {
            width: 20%;
            height: 70px;;
            border: 5px solid #000;
            border-radius: 35px; 
            text-align: center;
            line-height: 70px;
            margin: 20px;
            font-family: $font__main--med;
            font-size: 1.7em;
            color: #000;
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            }
          }
        }
        .substances-wrapper-1 {
          display: flex;  
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
          .hidden {
            opacity: 0;
            width: 20%;
            margin: 20px;
          }
          .other-substances-used {
            margin: 0 auto;
            height: 70px;
            border: 5px solid rgb(225, 218, 210);
            border-radius: 35px;
            width: 45%;
            display: block;
            background-color: $color__white;
            color: #000;
            font-size: 1.5em;
            padding-left: 25px;
            font-family: $font__main--med;
            margin: 20px;
            &::placeholder {
              color: #000;
            }
            &:focus {
              outline: none;
            }
          }
          .substances-used-unsure {
            margin: 20px;
            height: 70px;
            width: 20%;
            border: 5px solid #000;
            border-radius: 35px;
            text-align: center;
            line-height: 70px;
            font-family: $font__main--med;
            font-size: 1.7em;
            color: #000;
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            }
          }
        }
      }
      .loved-one-substances-used__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
      .loved-one-substances-used__skip {
        position: absolute;
        bottom: 80px;
        right: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          margin-left: 10px;
        }
      }
      .loved-one-substances-used__next {
        display: none;
        position: absolute;
        bottom: 80px;
        right: 50px;
        height: 50px;
        width: 150px;
        border: 5px solid #000;
        text-align: center;
        line-height: 45px;
        font-family: $font__main--med;
        color: #000;
        border-radius: 25px;
        &:hover {
          border: 5px solid $color__green;
          cursor: pointer;
        }
      }
    }

    .question__drug-effects-life {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        h1 {
          font-size: 3em;
          margin: 0;
          width: 100%;
          text-align: center;
          color: #000;
          font-family: $font__main--med;
        }
        .effects-wrapper {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;
          margin-top: 20px;
          .effect-choice {
            padding: 30px;
            width: 25%;
            height: 40vh;
            border: 5px solid rgb(172, 168, 162);
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $font__main--med;
            font-size: 2em;
            color: #000;
            text-align: center;
            img {
              height: 25%;
            }
            h3 {
              font-family: $font__main--med;
              font-size: 0.7em;
              margin: 0;
              margin-top: 30px;
            }
            p {
              margin: 0;
              font-size: 0.7em;
              font-family: $font__main;
            }
            &:hover {
              border: 5px solid $color__green;
              cursor: pointer;
            } 
          }
        }
      }
      .effects__back {
        position: absolute;
        bottom: 80px;
        left: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
      .effects__skip {
        position: absolute;
        bottom: 80px;
        right: 50px;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          margin-left: 10px;
        }
      }
      .effects__next {
        display: none;
        position: absolute;
        bottom: 80px;
        right: 50px;
        height: 50px;
        width: 150px;
        border: 5px solid #000;
        text-align: center;
        line-height: 45px;
        font-family: $font__main--med;
        color: #000;
        border-radius: 25px;
        &:hover {
          border: 5px solid $color__green;
          cursor: pointer;
        }
      }
    }

    .form__personal-info {
      left: 100%;
      transition: left 0.5s ease-in-out;
      .content-wrapper {
        width: 100%;
        padding: 0 4vw;
        .personal-info-0, .personal-info-1 {
          display: flex;
          margin-bottom: 20px;
          .personal-infor-input {
            width: 30%;
            height: 50px;
            border: 5px solid rgb(225, 218, 210);
            border-radius: 25px;
            background-color: $color__white;
            padding-left: 25px;
            color: #000;
            font-size: 1.2em;
            margin-right: 20px;
            font-family: $font__main--med;
            &::placeholder {
              color: #000;
            }
            &:focus {
              outline: none;
            }
          }
        }
        .insurance-wrapper {
          display: flex;
          .insurance-yes-no-wrapper {
            width: 30%;
            margin-right: 20px;
            p {
              font-family: $font__main--med;
              margin: 40px 0 15px 0;
              font-size: 1.2em;
              color: #000;
            }
            div {
              user-select: none;
              .insurance-check-box {
                font-family: $font__main--med;
                font-size: 1.2em;
                color: #000;
                display: inline-block;
                position: relative;
                user-select: none;
                width: 80px;
                input {
                  display: none;
                }
                .check-box {
                  height: 35px;
                  width: 35px;
                  display: inline-block;
                  position: relative;
                  bottom: -3px;
                  border: 3px solid rgb(225, 218, 210);
                  background-color: $color__white;
                }
                .checked-box {
                  border: 3px solid $color__green !important;
                }
                img {
                  display: none;
                  position: absolute;
                  right: -10px;
                  height: 30px;
                }
                .ticked {
                  display: unset !important;
                }
              }
            }
          }
          .insurance-company-wrapper {
            width: 30%;
            display: none;
            p {
              font-family: $font__main--med;
              margin: 0;
              font-size: 1.2em;
              color: #000;
            }
            .personal-infor-input {
              width: 100%;
              height: 50px;
              border: 5px solid rgb(225, 218, 210);
              border-radius: 25px;
              background-color: $color__white;
              padding-left: 25px;
              color: #000;
              font-size: 1.2em;
              margin: 40px 0 15px 0;
              font-family: $font__main--med;
              &::placeholder {
                color: #000;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
        .comments-and-submit {
          display: flex;
          margin-top: 40px;
          justify-content: space-between;
          textarea {
            width: 70%;
            border: 5px solid rgb(225, 218, 210);
            border-radius: 40px;
            color: #000;
            font-size: 1.2em;
            font-family: $font__main--med;
            padding: 20px;
            background-color: $color__white;
            resize: none;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #000;
            }
          }
          #form__submit {
            width: 25%;
            height: 70px;
            border: 5px solid #000;
            color: #000;
            border-radius: 35px;
            text-align: center;
            line-height: 65px;
            font-size: 1.5em;
            font-family: $font__main--med;
            align-self: flex-end;
            &:hover {
              cursor: pointer;
              border: 5px solid $color__green;
            }
          }
        }
      }
      .personal-info__back {
        position: absolute;
        bottom: 80px;
        left: 4vw;
        display: flex;
        font-size: 20px;
        align-items: center;
        font-family: $font__main--med;
        color: #000;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 30px;
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }

    }

    .thank-you {
      left: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: $color__white;
      background-image: url('../../img/src/smiley-face--green.svg');
      background-position: center;
      background-size: 70% 70%;
      background-repeat: no-repeat;
      .content-wrapper {
        width: 80%;
        text-align: center;
        p {
          font-family: $font__main--med;
          font-size: 3em;
          color: #000;
        }
        a {
          height: 70px;
          width: 300px;
          border: 5px solid #000;
          display: block;
          margin: 0 auto;
          border-radius: 35px;
          text-align: center;
          line-height: 65px;
          font-family: $font__main--med;
          color: #000;
          text-decoration: none;
          font-size: 1.5em;
          &:hover {
            border: 5px solid $color__green;
            cursor: pointer;
          }
        }
      }
    }

    .not-sent {
      left: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: $color__white;
      .content-wrapper {
        font-size: 2em;
        font-family: $font__main--med;
      }
    }
  }
}

///////////////////////////////////////////
//////////////// MEDIUM ///////////////////
///////////////////////////////////////////

@media only screen and (max-width: 1025px) {

  #soberlife-form-wrapper {
    top: 0;
    height: 100%;
    .form__relative-layer {

      section.form__contact-info {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        // padding: 0 4%;
        // right: 4%
        padding-right: 7%;
        // height: 50px;
        height: 40px;
        width: 100%;
        font-family: $font__main--med;
        font-size: 14px;
        justify-content: flex-end;
        // flex-direction: row-reverse;
        border-bottom: 1px solid #000;
        background-color: $color__green;
        z-index: 102;
        .phone-number {
          height: 100%;
          padding: 0 6%;
          // padding: 0 25px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
          line-height: 40px;
          a {
            text-decoration: none;
            color: #000;
            // font-family: $font__main;
          }
        }
        .email {
          // padding: 0 40px;
          // padding: 8px 4%;
          padding-left: 6%;
          line-height: 40px;
          height: 100%;
          a {
            display: block;
            text-decoration: none;
            color: #000;
            // font-family: $font__main;
          }
        }
      }

      .form__x-button {
        top: 70px;
        right: 6vw;
      }

      .loading-screen {
        .content-wrapper {
          font-size: 2em;
          width: 88vw;
        }
      }

      .question__your-name {
        h1 {
          width: 100%;
          display: block;
          font-size: 2em;
        }
        .inputWrapper {
          width: 88vw;
          #client-name {
            font-size: 1.5em;
            padding-left: 25px;
          }
          .your-name__next-button {
            right: 0;
          }
        }
      }

      .question__client-target {
        .content-wrapper {
          width: 88vw;
          text-align: center;
          h1 {
            font-size: 2em;
          }
          .target-wrapper {
            flex-direction: column;
          }
        }
        .client-target__back {
          left: 6vw;
          bottom: 65px;
        }
      }

      .question__loved-one-name {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .inputWrapper {
            width: 100%;
            #loved-one-name {
              padding-left: 25px;
              font-size: 1.5em;
            }
            .loved-one-name__next-button {
              right: 0;
            }
          }
        }
        .loved-one-name__back {
          left: 6vw;
          bottom: 65px;
        }
      }

      .question__client-gender {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .genders-wrapper {
            flex-direction: column;
            margin-top: 0;
            .gender-choice {
              margin-top: 20px;
              width: 100%;
              height: 80px;
              flex-direction: row;
              img {
                height: 80%;
                margin-bottom: 0;
                margin-right: 20px;
              }
            }
          }
        }
        .client-gender__back {
          left: 6vw;
          bottom: 65px;
        }
      }

      .question__client-feeling {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .feelings-wrapper {
            flex-direction: column;
            margin-top: 0;
            .feeling-choice {
              width: 100%;
              height: 80px;
              flex-direction: row;
              margin-top: 20px;
              font-size: 1.5em;
              img {
                display: none;
              }
            }
          }
        }
        .client-feeling__back {
          left: 6vw;
          bottom: 65px;
        }
      }

      .question__loved-one-feeling {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .loved-one-feelings-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            .loved-one-feeling-choice {
              width: 100%;
              height: 60px;
              font-size: 1.5em;
              margin-top: 20px;
              img {
                display: none;
              }
              &:hover {
                border: 5px solid $color__green;
                cursor: pointer;
              } 
            }
          }
        }
        .loved-one-feeling__back {
          left: 6vw;
          bottom: 65px;
        }
      }

      .question__client-substances-used {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .substances-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            .substance-choice {
              width: 45%;
              margin: 10px 0 0 0;
              height: 50px;
              border-radius: 25px;
              font-size: 1.5em;
              line-height: 45px;
              &:hover {
                border: 5px solid #000;
              }
            }
          }
          .other-substances-used {
            margin-top: 10px;
            width: calc(90% + 10px);
          }
        }
        .substances-used__back {
          left: 6vw;
          bottom: 65px;
        }
        .substances-used__skip {
          right: 6vw;
          bottom: 65px;
        }
        .substances-used__next {
          right: 6vw;
          bottom: 60px;
          height: 40px;
          line-height: 35px;
          width: 100px;
        }
      }

      .question__loved-one-substances-used {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .substances-wrapper {
            display: flex;
            flex-direction: row;
            .substance-choice {
              width: 45%;
              height: 50px;
              margin: 0;
              margin-top: 10px;
              line-height: 45px;
              &:hover {
                border: 5px solid #000;
              }
            }
          }
          .substances-wrapper-1 {
            display: flex;  
            flex-direction: row;
            .hidden {
              display: none;
            }
            .other-substances-used {
              width: 45%;
              margin: 10px 0 0 0;
              height: 50px;
            }
            .substances-used-unsure {
              margin: 0;
              height: 50px;
              width: 45%;
              margin-top: 10px;
              line-height: 45px;
              &:hover {
                border: 5px solid #000;
              }
            }
          }
        }
        .loved-one-substances-used__back {
          left: 6vw;
          bottom: 65px;
        }
        .loved-one-substances-used__skip {
          right: 6vw;
          bottom: 65px;
        }
        .loved-one-substances-used__next {
          right: 6vw;
          bottom: 60px;
          height: 40px;
          line-height: 35px;
          width: 100px;
        }
      }

      .question__drug-effects-life {
        .content-wrapper {
          width: 88vw;
          h1 {
            font-size: 2em;
          }
          .effects-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-evenly;
            margin-top: 0;
            .effect-choice {
              padding: 0;
              width: 100%;
              height: 110px;
              margin-top: 10px;
              &:hover {
                border: 5px solid #aca8a2;
              }
              img {
                display: none;
              }
              h3 {
                font-family: $font__main--med;
                font-size: 0.7em;
                margin: 0;
                margin-top: 0;
              }
              p {
                margin: 0;
                font-size: 0.6em;
                font-family: $font__main;
              }
            }
          }
        }
        .effects__back {
          left: 6vw;
          bottom: 65px;
        }
        .effects__skip {
          right: 6vw;
          bottom: 65px;
        }
        .effects__next {
          right: 6vw;
          bottom: 60px;
          height: 40px;
          line-height: 35px;
          width: 100px;
        }
      }

      .form__personal-info {
        .content-wrapper {
          width: 100%;
          padding: 0 6vw;
          .personal-info-0 {
            display: flex;
            margin-bottom: 7px;
            justify-content: space-evenly;
            .personal-infor-input {
              width: 50%;
              height: 50px;
              line-height: 45px;
              padding-left: 10px;
              border-radius: 25px;
              font-size: 1em;
              margin-right: 0;
            }
          }
          .personal-info-1 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 7px;
            input.personal-infor-input {
              width: 100%;
              padding-left: 10px;
              font-size: 1em;
            }
            input.form__email {
              grid-column: 1 / 2;
            }
            input.form__state {
              grid-column: 2 / 3;
            }
            input.form__dob {
              grid-column: 3 / 5;
            }
          }
          .insurance-wrapper {
            display: flex;
            .insurance-yes-no-wrapper {
              width: 50%;
              margin-right: 20px;
              p {
                font-family: $font__main--med;
                margin: 20px 0 0 0;
                font-size: 1.2em;
                color: #000;
              }
              div {
                user-select: none;
                display: flex;
                flex-direction: row;
                .insurance-check-box {
                  font-family: $font__main--med;
                  font-size: 1.2em;
                  color: #000;
                  display: inline-block;
                  position: relative;
                  user-select: none;
                  width: 80px;
                  input {
                    display: none;
                  }
                  .check-box {
                    height: 35px;
                    width: 35px;
                    display: inline-block;
                    position: relative;
                    bottom: -3px;
                    border: 3px solid rgb(225, 218, 210);
                    background-color: $color__white;
                  }
                  .checked-box {
                    border: 3px solid $color__green !important;
                  }
                  img {
                    display: none;
                    position: absolute;
                    right: -10px;
                    height: 30px;
                  }
                  .ticked {
                    display: unset !important;
                  }
                }
              }
            }
            .insurance-company-wrapper {
              width: 50%;
              display: none;
              p {
                font-family: $font__main--med;
                margin: 0;
                font-size: 0.8em;
                color: #000;
              }
              .personal-infor-input {
                width: 100%;
                padding-left: 10px;
                font-size: 0.7em;
                margin: 20px 0 0 0;
              }
            }
          }
          .comments-and-submit {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            textarea {
              width: 70%;
              height: 150px;
              border-radius: 20px;
              color: #000;
              padding: 10px;
            }
            #form__submit {
              height: 50px;
              border-radius: 25px;
              line-height: 45px;
              font-size: 1em;
            }
          }
        }
        .personal-info__back {
          bottom: 65px;
          left: 6vw;
        }
  
      }

    }
  }

}

@media only screen and (max-width: 769px) {
 #soberlife-form-wrapper {
   .form__relative-layer {
     section.form__contact-info {
      justify-content: space-between;       
      .phone-number {
        border-left: none;
      }
     }
   }
 }
}