@import 'variables-site/variables-site';

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: $color__white !important;
  width: 100%;
  overflow-x: hidden;  
}
#content {
  min-height: 100vh;
}

// #content {
// min-height: 100vh;
// }

section.front-page__header {
  position: relative;
  font-family: $font__main;
  height: calc(90vh - 80px);
  .front-page__header__image {
    height: calc(90vh - 80px);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .front-page__header__wrapper {
    // height: 100%;
    width: 100%;
    position: relative;
    top: 60%;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .front-page__header__slogans {
      padding-left: 6vw;
      .front-page__header__slogans-reclaim {
        font-size: 3em;
        margin: 0;
        // margin-top: 0px;
        font-family: $font__main--med;
        color: #000;
      }
      .front-page__word-wrapper {
        display: flex;
        position: relative;
        .front-page__your-word {
          font-size: 2.7em;
          font-weight: 900;
          font-family: $font__main--bold;
          color: #000;
          padding-right: 10px;
          top: -10px;
          position: relative;
        }
        .front-page__header__changing-slogans-wrapper {
          position: relative;
          top: -10px;
          color: #000;
          .front-page__header__changing-slogans {
            font-size: 2.7em;
            font-weight: 900;
            position: absolute;
            opacity: 0;
            transition: all 1s ease-in-out;
            font-family: $font__main--bold;
            p {
              margin: 0;
            }
          }
        }
      }
      .front-page__header__changing-slogans-detail {
        font-size: 1.5em;
        position: relative;
        font-family: $font__main--med;
        color: #000;
        p {
          margin: 0;
        }
      }
    }
    button {
      // padding: 10px 25px;
      background-color: #000;
      border-radius: 25px;
      bottom: 15%;
      color: $color__white;
      outline: none;
      font-family: $font__main--med;
      font-size: 20px;
      height: 50px;
      margin-top: 20px;
      margin-left: 6vw;
      // position: absolute;
      width: 280px;
      cursor: pointer;
      &:hover {
        color: #000;
        background-color: $color__green;
        border: 1px solid #000;
      }
    }
  }
  a {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: $font__main--med;
    font-size: 1.5em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 60px;
    width: 100vw;
    background-color: $color__green;
    cursor: pointer;
  }
}

section.front-page__moving-forward {
  padding: 40px 6vw 0;
  color: #000;
  background-color: $color__white;
  .moving-forward__content {
    display: flex;
    flex-direction: column;
    .moving-forward__content__arrows {
      display: flex;
      flex-direction: row;
      width: 50vw;
      height: 50px;
      img {
        width: calc(70% / 3);
        padding-right: 15px;
      }
    }
    .moving-forward__content__header {
      font-family: $font__main__bold;
      font-size: 2em;
    }
    .moving-forward__content__detail {
      font-family: $font__main;
      font-size: 1.3em;
      p {
        margin: 0;
      }
    }
  }
  .moving-forward__image {
    display: none;
  }
}

section.front-page__services {
  padding: 70px 6vw 0;
  color: #000;
  background-color: $color__white;
  .services__title {
    font-size: 2em;
    font-family: $font__main__bold;
  }
  .services-wapper {
    display: flex;
    flex-direction: column;
    .service {
      margin-top: 70px;
      padding-top: 70px;
      position: relative;
      &:first-child {
        margin-top: 20px;
      }
      img {
        position: absolute;
        top: 0;
        height: 150px;
      }
      .service__title {
        position: relative;
        font-family: $font__main__bold;
        font-size: 1.5em;
        z-index: 1;
      }
      .service__description {
        position: relative;
        font-family: $font__main;
        font-size: 1.1em;
        z-index: 1;
        p {
          margin: 20px 0;
        }
      }
      .front-page__button {
        background-color: #000;
        border-radius: 25px;
        color: $color__white;
        display: block;
        font-family: $font__main--med;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        margin-top: 20px;
        outline: none;
        padding: 0;
        text-align: center;
        text-decoration: none;
        width: 200px;
        &:hover {
          color: #000;
          background-color: $color__green;
          border: 1px solid #000;
        }
      }
    }
  }
}

section.front-page__our-story {
  padding-top: 100px;
  position: relative;
  color: #000;
  background-color: $color__white;
  .our-story__image {
    width: 100%;
    height: auto;
  }
  .our-story__text {
    padding: 6vw;
    position: relative;
    top: -100px;
    background-color: rgba(245, 240, 232, 0.7);
    .our-story__header {
      opacity: 1;
      font-family: $font__main__bold;
      font-size: 2em;
    }
    .our-story__description {
      opacity: 1;
      font-size: 1.1em;
      p {
        font-family: $font__main;
        margin: 0;
      }
    }
    .front-page__button {
      background-color: #000;
      border-radius: 25px;
      color: $color__white;
      display: block;
      font-family: $font__main--med;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      margin-top: 20px;
      outline: none;
      padding: 0;
      text-align: center;
      text-decoration: none;
      width: 200px;
      &:hover {
        color: #000;
        background-color: $color__green;
        border: 1px solid #000;
      }
    }
  }
}

section.front-page__success-stories {
  background-color: $color__white;
}

/* ====================================================== */
/* ======================= DESKTOP ====================== */
/* ====================================================== */

@media only screen and (min-width: 1025px) {
  section.front-page__header {
    min-height: 650px;
    .front-page__header__image {
      // height: calc(100vh - 100px);
      height: 100vh;
    }
    .front-page__header__wrapper {

      .front-page__header__slogans {
        padding-left: 4vw;
        .front-page__header__slogans-reclaim {
          font-size: 4.5em;
          line-height: 1.5em;
        }
        .front-page__word-wrapper {
          top: -30px;
          .front-page__your-word {
            font-size: 4.5em;
            line-height: 1.5em;
          }
          .front-page__header__changing-slogans-wrapper {
            .front-page__header__changing-slogans {
              font-size: 4.5em;
              p {
                line-height: 1.5em;
              }
            }
          }
        }
        .front-page__header__changing-slogans-detail {
          font-size: 2.3em;
          top: -30px;
          p {
          }
        }
      }
      button {
        bottom: 15%;
        margin-left: 4vw;
        // padding: 20px 50px;
        border-radius: 50px;
        margin-top: 0;
        width: 300px;
        height: 60px;
        // border-radius: 35px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    a {
      display: none;
    }
  }

  section.front-page__moving-forward {
    display: flex;
    padding: 120px 4vw 0;
    position: relative;
    .moving-forward__content {
      width: 50%;
      .moving-forward__content__arrows {
        width: 50%;
        height: 30px;
        margin-left: -20px;
        img {
          padding-right: 0;
        }
      }
      .moving-forward__content__header {
        margin-top: 50px;
        font-size: 3em;
      }
      .moving-forward__content__detail {
        margin-top: 40px;
        padding-right: 4vw;
        font-size: 2em;
      }
    }
    .moving-forward__image {
      display: block;
      width: 50%;
      height: 100vh;
      top: -180px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  section.front-page__services {
    padding: 0 4vw 0;
    .services__title {
      font-size: 3em;
    }
    .services-wapper {
      flex-direction: row;
      .service {
        width: calc(100% / 3);
        margin-top: 50px;
        padding: 70px 30px 50px;
        position: relative;
        &:first-child {
          margin-top: 50px;
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        .front-page__button {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  section.front-page__our-story {
    position: relative;
    .our-story__image {
      height: 80vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .our-story__text {
      position: absolute;
      top: 100px;
      height: 80vh;
      left: 0;
      width: 50%;
      padding: 4vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .our-story__description {
        font-size: 1.4em;
      }
      .front-page__button {
        width: 300px;
      }
    }
  }

  section.front-page__success-stories {
    padding-top: 100px;
  }
}
