@import 'variables-site/variables-site';

section.front-page__header {
  position: relative;
  font-family: $font__main;
  .front-page__header__image {
    height: calc(90vh - 80px);
    width: 100vw;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .front-page__header__slogans {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .front-page__header__slogans-reclaim {
      font-size: 3em;
      margin: 0;
      margin-top: -120px;
      font-family: $font__main--med;
    }
    .front-page__header__changing-slogans-wrapper {
      position: relative;
      top: -10px;
      .front-page__header__changing-slogans {
        font-size: 2.7em;
        font-weight: 900;
        position: absolute;
        opacity: 0;
        transition: all 1s ease-in-out;
        font-family: $font__main--bold;
        p {
          margin: 0;
        }
      }
      .front-page__header__changing-slogans-detail {
        font-size: 1.5em;
        position: absolute;
        top: 60px;
        opacity: 0;
        transition: all 1s ease-in-out;
        font-family: $font__main--med;
        p {
          margin: 0;
        }
      }
    }
  }
  button {
    position: absolute;
    bottom: 20%;
    left: 6vw;
    border-radius: 25px;
    font-size: 1.5em;
    padding: 10px 25px;
    background-color: #000;
    color: $color__white;
  }
}