@import 'variables-site/variables-site';

section.front-page__header {
  position: relative;
  font-family: $font__main;
  .front-page__header__image {
    height: calc(90vh - 80px);
    width: 100vw;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .front-page__header__slogans {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .front-page__header__slogans-reclaim {
      font-size: 3em;
      margin: 0;
      margin-top: -120px;
      font-family: $font__main--med;
      color: #000;
    }
    .front-page__header__changing-slogans-wrapper {
      position: relative;
      top: -10px;
      color: #000;
      .front-page__header__changing-slogans {
        font-size: 2.7em;
        font-weight: 900;
        position: absolute;
        opacity: 0;
        transition: all 1s ease-in-out;
        font-family: $font__main--bold;
        p {
          margin: 0;
        }
      }
      .front-page__header__changing-slogans-detail {
        font-size: 1.5em;
        position: absolute;
        top: 60px;
        opacity: 0;
        transition: all 1s ease-in-out;
        font-family: $font__main--med;
        p {
          margin: 0;
        }
      }
    }
  }
  button {
    position: absolute;
    bottom: 20%;
    left: 6vw;
    border-radius: 25px;
    font-size: 1.5em;
    padding: 10px 25px;
    background-color: #000;
    color: $color__white;
  }
  a {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: $font__main--med;
    font-size: 1.5em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 60px;
    width: 100vw;
    background-color: $color__green;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {

  section.front-page__header {
    .front-page__header__image {
      height: calc(100vh - 100px);
    }
    .front-page__header__slogans {
      left: 4vw;
      .front-page__header__slogans-reclaim {
        font-size: 6em;
        margin-top: -350px;
      }
      .front-page__header__changing-slogans-wrapper {
        margin-top: -20px;
        .front-page__header__changing-slogans {
          font-size: 4em;
        }
        .front-page__header__changing-slogans-detail {
          top: 100px;
          font-size: 2em;
        }
      }
    }
    button {
      bottom: 25%;
      left: 4vw;
      padding: 20px 50px;
      border-radius: 50px;
    }
    a {
      display: none;
    }
  }

}