@import 'variables-site/variables-site';

#soberlife__jplayer {
  position: fixed;
  // display:none;
  bottom: 71px;
  border-top: 1px solid black;
  background-color: $color__white;
  width: 100%;
  z-index: 5;
  padding-bottom: 20px;

  .jp-audio *:focus,
  .jp-audio-stream *:focus,
  .jp-video *:focus {
    /* Disable the browser focus highlighting. */
    outline: none;
  }
  .jp-audio button::-moz-focus-inner,
  .jp-audio-stream button::-moz-focus-inner,
  .jp-video button::-moz-focus-inner {
    /* Disable the browser CSS3 focus highlighting. */
    border: 0;
  }
  .jp-audio,
  .jp-audio-stream,
  .jp-video {
    font-size: 16px;
    line-height: 1.6;
    color: black;
  }

  .jp-type-single {
    margin: $margin__mobile;
    .jp-details {
      .jp-title {
        padding-left: 55px;
      }
    }
    .jp-interface {
      display: flex;
      flex-direction: column;
      .jp-volume-controls {
      }
      .jp-controls-holder {
        clear: both;
        display: flex;
        .jp-controls {
          display: flex;
          justify-content: space-between;
          position: relative;
          width: 70px;
          .jp-play {
            position: absolute;
            border: none;
            height: 50px;
            width: 50px;
            padding: 0;
            img {
              width: 100%;
              height: 100%;    
              &:hover {
                cursor: pointer;
              }     
            }
          }
          .jp-pause {
            position: relative;
            border: none;
            height: 50px;
            width: 50px;
            padding: 0;
            img {
              width: 100%;
              height: 100%;  
              &:hover {
                cursor: pointer;
              }       
            }
          }
          .jp-stop {
            border: none;

          }
        }
        .jplayer__progress-wrapper {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .jp-progress {
            height: 5px;
            width: 100%;
            // background-color: $color__green;
            border: 1px solid black;
            border-radius: 3px;
            .jp-seek-bar {
              height: 100%;
              width: 100% !important;
              .jp-play-bar {
                height: 100%;
                background-color: $color__green;
              }
            }
          }
          .jp-time-bar {
            display: flex;
            width: 100%;
            font-size: 14px;
            justify-content: space-between;
            .jp-current-time {
            }
            .jp-duration {
            }
          }
        }
        .jp-toggles {
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  #soberlife__jplayer {
    .jp-type-single {
      margin: 0 4vw;
      .jp-details {
        .jp-title {
          padding-left: 65px;
        }
      }
    }
  }

}