@import 'variables-site/variables-site';

#soberlife__jplayer {
  position: fixed;
  // display:none;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  background-color: $color__white;
  width: 100vw;
  z-index: 5;
  height: 70px;
  transition: all 0.5s ease-in-out;

  .jp-audio *:focus,
  .jp-audio-stream *:focus,
  .jp-video *:focus {
    /* Disable the browser focus highlighting. */
    outline: none;
  }
  .jp-audio button::-moz-focus-inner,
  .jp-audio-stream button::-moz-focus-inner,
  .jp-video button::-moz-focus-inner {
    /* Disable the browser CSS3 focus highlighting. */
    border: 0;
  }
  .jp-audio,
  .jp-audio-stream,
  .jp-video {
    font-size: 16px;
    line-height: 1.6;
    color: black;
  }

  .jp-type-single {
    margin: 0;
    position: relative;
    .jp-details {
      position: absolute;
      .jp-title {
        padding-left: 70px;
        font-family: $font__main--bold;
        padding-top: 15px;
      }
    }
    .jp-interface {
      .jp-volume-controls {
      }
      .jp-controls-holder {
        clear: both;
        display: flex;
        .jp-controls {
          position: relative;
          width: 90px;
          height: 70px;
          border-right: 1px solid #000;
          .jp-play {
            position: absolute;
            border: none;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            img {
              width: 100%;
              height: 100%;    
              &:hover {
                cursor: pointer;
              }     
            }
          }
          .jp-pause {
            position: absolute;
            border: none;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            img {
              width: 100%;
              height: 100%;  
              &:hover {
                cursor: pointer;
              }       
            }
          }
        }
        .jplayer__progress-wrapper {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: transparent;
          .jp-progress {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            background-color: transparent;
            .jp-seek-bar {
              height: 70px;
              width: 100% !important;
              background-color: transparent;
              .jp-play-bar {
                height: 100%;
                background-color: $color__green;
                background-blend-mode: multiply;
              }
            }
          }
          .jp-time-bar {
            display: flex;
            width: 100%;
            font-size: 14px;
            z-index: -11;
            position: absolute;
            bottom: 10px;
            padding-left: 10px;
            .jp-current-time {
              font-family: $font__main--med;
            }
            .jp-duration {
              font-family: $font__main--med;
            }
          }
        }
        .jplayer__x-button {
          width: 90px;
          position: relative;
          border-left: 1px solid #000;
          cursor: pointer;
          img {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  #soberlife__jplayer {
    bottom: 0;
    .jp-type-single {
      margin: 0;
      .jp-details {
        .jp-title {
          padding-left: 100px;
          padding-top: 15px;
        }
      }
      .jp-interface {
        .jp-controls-holder {
          clear: both;
          display: flex;
          .jplayer__progress-wrapper {
            .jp-time-bar {
              position: absolute;
              width: 20px;
              font-size: 14px;
              padding-left: 20px;
              bottom: 10px;
              .jp-current-time {
                font-family: $font__main--med;
                display: inline-block;
              }
              .time-separator {
                display: inline-block;
              }
              .jp-duration {
                font-family: $font__main--med;
                display: inline-block;
              }
            }
          }
          .jplayer__x-button {
            width: 90px;
            position: relative;
            border-left: 1px solid #000;
            img {
              height: 30px;
              width: 30px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              object-fit: cover;
            }
          }
        }
      }
    }
  }

}