@import 'variables-site/variables-site';

.single-post__wrapper {
  padding-top: 120px; 
  .single-post__title {
    padding: 0 6vw;
    font-family: $font__main--bold;
    font-size: 1.5em;
    color: #000;
  }
  .single-post__date {
    font-family: $font__main--med;
    padding: 0 6vw;
    color: #000;
  }
  .single-post__player-wrapper {
    padding: 0 6vw;
    .single-post__thumbnail {
      width: 100%;
      height: 250px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .single-post__podcast-player {
      div.mejs-container {
        width: 100%;
      }
      > p {
        display: none;
      }
    }
  }
  .single-post__flex-box-wrapper {
    .single-post__first-paragraph {
      padding: 30px 6vw 0;
      color: #000;
      .first-paragraph__title {
        font-family: $font__main--bold;
        font-size: 1.3em;
      }
      .first-paragraph__content {
        font-family: $font__main;
        font-size: 1.1em;
        p {
          margin: 0;
        }
      }
    }
    .featured-post {
      display: none;
    }
  }

  .single-post__first-gallery {
    padding-top: 20px;
    .first-gallery__image-wrapper {
      height: 300px;
      padding: 0 10px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .single-post__second-paragraph {
    padding: 0 6vw;
    font-family: $font__main;
    font-size: 1.1em;
    color: #000;
  }
  a.link-out-blog {
    display: block;
    height: 50px;
    width: 300px;
    border-radius: 25px;
    background-color: $color__green;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    font-family: $font__main--med;
    font-size: 1.1em;
    padding: 0;
  }
  .single-post__second-gallery {
    padding-top: 30px;
    .second-gallery-image-wrapper {
      padding: 0 10px;
      height: 400px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .single-post__quote {
    padding: 20px 6vw 0;
    .quotation-mark {
      font-family: $font__main--bold;
      color: $color__green;
      font-size: 4em;
      height: 30px;
    }
    .quote-content {
      font-family: $font__main--med;
      font-size: 1.2em;
      color: #000;
    }
  }
  .single-post__related-posts {
    .related-post__header {
      padding: 0 6vw 15px;
      font-family: $font__main--bold;
      font-size: 1.5em;
    }
    .related-posts {
      .related-post {
        padding: 0 5px;
        a {
          text-decoration: none;
          .related-post-player-wrapper {
            height: 150px;
            position: relative;
            .related-post__thumbnail-wrapper {
              height: 100%;
              width: 100%;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover
              }
            }
            .related-post-play-button-wapper {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 70px;
              width: 70px;
              background-color: #fff;
              opacity: 0.6;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 30px;
                width: 30px;
              }
            }
            .related-post-track-number {
              position: absolute;
              bottom: 0;
              left: 0;
              height: 30px;
              width: 100%;
              background-color: $color__green;
              padding-left: 10px;
              line-height: 30px;
              font-family: $font__main--med;
              font-size: 0.8em;
              color: #000;
            }
          }
          .related-post-track-title {
            font-family: $font__main--med;
            font-size: 1em;
            color: #000;
            padding-top: 10px;
            line-height: 20px;
          }
          .related-post-track-date {
            font-family: $font__main--med;
            font-size: 0.7em;
            color: #000;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .single-post__wrapper {
    .single-post__title {
      padding: 0 4vw;
    }
    .single-post__date {
      padding: 0 4vw;
    }
    .single-post__player-wrapper {
      padding: 0 4vw;
      .single-post__thumbnail {
        height: 600px;
      }
    }
    .single-post__flex-box-wrapper {
      display: flex;
      .single-post__first-paragraph {
        width: 60%;
        padding: 60px 4vw 0;
      }
      .featured-post {
        display: block;
        width: 40%;
        height: 18vw;
        padding: 60px 4vw 0 0;
        .featured-post__title {
          font-family: $font__main--bold;
        }
        a {
          display: flex;
          height: 100%;
          color: #000;
          text-decoration: none;
          .featured-post__thumbnail-wrapper {
            width: 45%;
            height: 100%;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .featured-post__title-date-wrapper {
            height: 100%;
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color__green;
            font-family: $font__main--med;
            padding: 0 30px;
            font-size: 1.2em;
            .featured-post-track-date {
              font-size: 0.7em;
            }
          }
        }
      }
    }
    .single-post__first-gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 100px 4vw 0;
      .first-gallery__image-wrapper {
        width: 50%;
        height: 400px;
        &:nth-child(odd) {
          padding: 1vw 1vw 1vw 0;
        }
        &:nth-child(even) {
          padding: 1vw 0 1vw 1vw;
        }
      }
    }
    .single-post__second-paragraph {
      padding: 0 40vw 0 4vw;
    }
  }

}