@import 'variables-site/variables-site';

#success-stories {
  background-color: $color__white;
  padding: 25px 0;
  .success-stories-header {
    font-family: $font__main--bold;
    padding: 0 6vw 10px 6vw;
    font-size: 30px;
    color: #000;
  }
  .success-stories__latest {
    padding: 0 6vw;
    a {
      text-decoration: none;
      .player-wapper {
        position: relative;
        .latest-podcast-thumbnail-wrapper {
          width: 100%;
          height: 200px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .play-button-wapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          opacity: 0.6;
          img {
            height: 50px;
            width: auto;
          }
        }
        .latest-story-track-number {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30px;
          background-color: $color__green;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-family: $font__main--med;
          color: #000;
          font-size: 14px;
        }
      }
      .latest-story-track-title {
        color: #000;
        font-family: $font__main--med;
        margin-top: 7px;
      }
      .latest-story-track-date {
        color: #000;
        font-family: $font__main--med;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .carousel-navigation {
    display: none;
  }

  .other-success-stories { 
    overflow: hidden;
    padding-top: 30px;
    .slick-prev {
      left: 45px;
      z-index: 111;
    }
    .slick-list {
      .slick-track {
        .single-success-story {
          padding: 0 5px;
          a {
            text-decoration: none;
            .single-story-player-wapper {
              position: relative;
              height: 170px;
              .single-story-thumbnail-wrapper {
                width: 100%;
                height: 100%;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
              .single-story-play-button-wapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 80px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                opacity: 0.6;
                img {
                  height: 50px;
                  width: auto;
                }
              }
              .single-story-track-number {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 30px;
                background-color: $color__green;
                display: flex;
                align-items: center;
                padding-left: 10px;
                font-family: $font__main--med;
                color: #000;
                font-size: 14px;
              }
            }
            .single-story-track-title {
              color: #000;
              font-family: $font__main--med;
              margin-top: 7px;
            }
            .single-story-track-date {
              color: #000;
              font-family: $font__main--med;
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  a.go-to-sober-collective {
    background-color: #000;
    border-radius: 25px;
    color: $color__white;
    display: block;
    font-family: $font__main--med;
    font-size: 20px;
    height: 50px;
    left: 50%;
    line-height: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateX(-50%);
    width: 88%;
    span {
      font-family: $font__main--bold;
    }
  }
}


// IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #success-stories {
    .success-stories__latest {
      a {
        .player-wapper {
          .latest-podcast-thumbnail-wrapper {
            height: 400px;
          }
        }
      }
    }
    .other-success-stories {
      .slick-list {
        .slick-track {
          .single-success-story {
            a {
              .single-story-player-wapper {
                height: 270px;
              }
            }
          }
        }
      }
    }
  }
}

// IPAD PRO 10.5"
@media only screen and (min-width: 1024px) and (max-width: 1024px) {

}
/* ====================================================== */
/* ======================= DESKTOP ====================== */
/* ====================================================== */

@media only screen and (min-width: 1025px) {

  #success-stories {
    .success-stories-header {
      padding: 0 4vw 20px;
      font-size: 3em;
    }
    .success-stories__latest {
      padding: 0 4vw;
      a {
        .player-wapper {
          .latest-podcast-thumbnail-wrapper {
            height: 600px;
          }
          .play-button-wapper {
            height: 150px;
            width: 150px;
            img {
              height: 80px;
              width: auto;
            }
          }
          .latest-story-track-number {
            height: 50px;
            font-size: 1.2em;
            padding-left: 20px;
          }
        }
        .latest-story-track-title {
          font-size: 2em;
        }
        .latest-story-track-date {
          font-size: 1.2em;
        }
      }
    }

    .carousel-navigation {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 4vw;
      top: calc((92vw - 120px)/6);
      z-index: 11;
      height: 0;
      .prev-arrow, .next-arrow  {
        height: 50px;
        width: 50px;
        display: block;
        cursor: pointer;
        &:hover circle {
          fill:#80ff73;
          stroke:#000;
          stroke-miterlimit:10;
          stroke-width:6px;
        }
        &:hover polygon {
          fill:#000
        }
        svg {
          height: 100%;
          width: 100%;
        }
      }
      .next-arrow {
        height: 50px;
        width: 50px;
        display: block;
        cursor: pointer;
      }
    }

    .other-success-stories {
      .slick-list {
        .slick-track { 
          .single-success-story { 
            padding: 0 20px;
            a {
              .single-story-player-wapper {
                height: calc((92vw - 120px) / 3);
                .single-story-track-number {
                  height: 50px;
                  font-size: 1.1em;
                  padding-left: 20px;
                }
              }
              .single-story-track-title {
                font-size: 1.7em;
              }
              .single-story-track-date {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
    a.go-to-sober-collective {
      margin-top: 80px;
      width: 40vw;
      height: 60px;
      border-radius: 35px;
      line-height: 60px;
      font-size: 1.5em;
      &:hover {
        border: 1px solid black;
        background-color: $color__green;
        color: black;
      }
    }
  }


}
