$font__main: 'FFBauWeb', sans-serif;
$font__main-bold: 'FFBauWebBold';
$font__main-med: 'FFBauWebMedium';

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

