section.front-page__header {
  position: relative;
  font-family: "FFBauWeb", sans-serif;
}

section.front-page__header .front-page__header__image {
  height: calc(90vh - 80px);
  width: 100vw;
}

section.front-page__header .front-page__header__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

section.front-page__header .front-page__header__slogans {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.front-page__header .front-page__header__slogans .front-page__header__slogans-reclaim {
  font-size: 3em;
  margin: 0;
  margin-top: -120px;
  font-family: "FFBauWebMedium";
}

section.front-page__header .front-page__header__slogans .front-page__header__changing-slogans-wrapper {
  position: relative;
  top: -10px;
}

section.front-page__header .front-page__header__slogans .front-page__header__changing-slogans-wrapper .front-page__header__changing-slogans {
  font-size: 2.7em;
  font-weight: 900;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-family: "FFBauWebBold";
}

section.front-page__header .front-page__header__slogans .front-page__header__changing-slogans-wrapper .front-page__header__changing-slogans p {
  margin: 0;
}

section.front-page__header .front-page__header__slogans .front-page__header__changing-slogans-wrapper .front-page__header__changing-slogans-detail {
  font-size: 1.5em;
  position: absolute;
  top: 60px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-family: "FFBauWebMedium";
}

section.front-page__header .front-page__header__slogans .front-page__header__changing-slogans-wrapper .front-page__header__changing-slogans-detail p {
  margin: 0;
}

section.front-page__header button {
  position: absolute;
  bottom: 20%;
  left: 6vw;
  border-radius: 25px;
  font-size: 1.5em;
  padding: 10px 25px;
  background-color: #000;
  color: #f5f0e8;
}