#soberlife__jplayer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  background-color: #f5f0e8;
  width: 100vw;
  z-index: 5;
  height: 70px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#soberlife__jplayer .jp-audio *:focus,
#soberlife__jplayer .jp-audio-stream *:focus,
#soberlife__jplayer .jp-video *:focus {
  /* Disable the browser focus highlighting. */
  outline: none;
}

#soberlife__jplayer .jp-audio button::-moz-focus-inner,
#soberlife__jplayer .jp-audio-stream button::-moz-focus-inner,
#soberlife__jplayer .jp-video button::-moz-focus-inner {
  /* Disable the browser CSS3 focus highlighting. */
  border: 0;
}

#soberlife__jplayer .jp-audio,
#soberlife__jplayer .jp-audio-stream,
#soberlife__jplayer .jp-video {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

#soberlife__jplayer .jp-type-single {
  margin: 0;
  position: relative;
}

#soberlife__jplayer .jp-type-single .jp-details {
  position: absolute;
}

#soberlife__jplayer .jp-type-single .jp-details .jp-title {
  padding-left: 70px;
  font-family: "FFBauWebBold";
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls {
  position: relative;
  width: 90px;
  height: 70px;
  border-right: 1px solid #000;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-play {
  position: absolute;
  border: none;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-play img {
  width: 100%;
  height: 100%;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-play img:hover {
  cursor: pointer;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-pause {
  position: absolute;
  border: none;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-pause img {
  width: 100%;
  height: 100%;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-pause img:hover {
  cursor: pointer;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-progress {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-progress .jp-seek-bar {
  height: 70px;
  width: 100% !important;
  background-color: transparent;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-progress .jp-seek-bar .jp-play-bar {
  height: 100%;
  background-color: #80ff73;
  background-blend-mode: multiply;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: -11;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar .jp-current-time {
  font-family: "FFBauWebMedium";
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar .jp-duration {
  font-family: "FFBauWebMedium";
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__x-button {
  width: 90px;
  position: relative;
  border-left: 1px solid #000;
  cursor: pointer;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__x-button img {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  #soberlife__jplayer {
    bottom: 0;
  }

  #soberlife__jplayer .jp-type-single {
    margin: 0;
  }

  #soberlife__jplayer .jp-type-single .jp-details .jp-title {
    padding-left: 100px;
    padding-top: 15px;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar {
    position: absolute;
    width: 20px;
    font-size: 14px;
    padding-left: 20px;
    bottom: 10px;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar .jp-current-time {
    font-family: "FFBauWebMedium";
    display: inline-block;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar .time-separator {
    display: inline-block;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar .jp-duration {
    font-family: "FFBauWebMedium";
    display: inline-block;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__x-button {
    width: 90px;
    position: relative;
    border-left: 1px solid #000;
  }

  #soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__x-button img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
  }
}