#soberlife__jplayer {
  position: fixed;
  bottom: 71px;
  border-top: 1px solid black;
  background-color: #f5f0e8;
  width: 100%;
  z-index: 5;
  padding-bottom: 20px;
}

#soberlife__jplayer .jp-audio *:focus,
#soberlife__jplayer .jp-audio-stream *:focus,
#soberlife__jplayer .jp-video *:focus {
  /* Disable the browser focus highlighting. */
  outline: none;
}

#soberlife__jplayer .jp-audio button::-moz-focus-inner,
#soberlife__jplayer .jp-audio-stream button::-moz-focus-inner,
#soberlife__jplayer .jp-video button::-moz-focus-inner {
  /* Disable the browser CSS3 focus highlighting. */
  border: 0;
}

#soberlife__jplayer .jp-audio,
#soberlife__jplayer .jp-audio-stream,
#soberlife__jplayer .jp-video {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

#soberlife__jplayer .jp-type-single {
  margin: 0 6% 0 6%;
}

#soberlife__jplayer .jp-type-single .jp-details .jp-title {
  padding-left: 55px;
}

#soberlife__jplayer .jp-type-single .jp-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 70px;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-play {
  position: absolute;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-play img {
  width: 100%;
  height: 100%;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-play img:hover {
  cursor: pointer;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-pause {
  position: relative;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-pause img {
  width: 100%;
  height: 100%;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-pause img:hover {
  cursor: pointer;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jp-controls .jp-stop {
  border: none;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-progress {
  height: 5px;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-progress .jp-seek-bar {
  height: 100%;
  width: 100% !important;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-progress .jp-seek-bar .jp-play-bar {
  height: 100%;
  background-color: #80ff73;
}

#soberlife__jplayer .jp-type-single .jp-interface .jp-controls-holder .jplayer__progress-wrapper .jp-time-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  #soberlife__jplayer .jp-type-single {
    margin: 0 4vw;
  }

  #soberlife__jplayer .jp-type-single .jp-details .jp-title {
    padding-left: 65px;
  }
}