#sobercollective-page {
  position: relative;
  margin: 0 6% 0 6%;
}

#sobercollective-page .sobercollective__top-bar {
  padding-top: 110px;
}

#sobercollective-page .sobercollective__top-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sobercollective-page .sobercollective__top-bar ul li a {
  font-family: "FFBauWebMedium";
  color: black;
  text-decoration: none;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar {
  padding-bottom: 20px;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 {
  background-image: none;
  background: none;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox {
  background-color: #e9e2d6;
  background-image: none;
  border: none;
  height: 50px;
  border-radius: 25px;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .promagnifier {
  display: none;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .prosettings {
  height: 100%;
  background-color: #80ff73;
  background-image: none;
  border: none;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .proinput form input {
  font-family: "FFBauWeb", sans-serif;
  color: black !important;
  font-size: 18px !important;
  height: 50px;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .proinput form input::-webkit-input-placeholder {
  font-family: "FFBauWeb", sans-serif;
  color: black !important;
  font-size: 18px !important;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .proinput form input:-ms-input-placeholder {
  font-family: "FFBauWeb", sans-serif;
  color: black !important;
  font-size: 18px !important;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .proinput form input::-ms-input-placeholder {
  font-family: "FFBauWeb", sans-serif;
  color: black !important;
  font-size: 18px !important;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__searchbar #ajaxsearchlite1 .probox .proinput form input::placeholder {
  font-family: "FFBauWeb", sans-serif;
  color: black !important;
  font-size: 18px !important;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__cats-mobile {
  padding: 10px 0;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__cats-mobile select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e9e2d6;
  border-radius: 0;
  border: none;
  font-family: "FFBauWebMedium";
  font-size: 18px;
  height: 50px;
  outline: none;
  padding-left: 15px;
  width: 100%;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__cats-desktop {
  display: none;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__tags-mobile {
  position: relative;
}

#sobercollective-page .sobercollective__top-bar .sobercollective__tags-mobile .sobercollective__tags-mobile-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e9e2d6;
  border-radius: 0;
  border: none;
  font-family: "FFBauWebMedium";
  font-size: 18px;
  height: 50px;
  outline: none;
  padding-left: 15px;
  width: 100%;
}

#sobercollective-page .sobercollective__posts-wrapper {
  padding-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post {
  color: black;
  text-decoration: none;
  outline: none;
  line-height: 25px;
  font-family: "FFBauWebMedium";
  display: block;
  width: 48%;
  padding: 10px 0;
  position: relative;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post:focus,
#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post:visited,
#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post:hover {
  color: black;
  text-decoration: none;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post:nth-child(1) {
  width: 100%;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post:nth-child(1) .sobercollective__play-btn {
  top: 20%;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post:nth-child(1) .sobercollective__post--image {
  height: 160px;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__play-btn {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.6);
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__play-btn img {
  width: 40%;
  height: 40%;
  margin: 30% auto;
  display: block;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__post--image {
  height: 130px;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__post--image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__post--cat-name {
  background: #80ff73;
  height: 25px;
  font-size: 14px;
  padding: 1px 0 0 10px;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__post--title {
  padding-top: 5px;
  line-height: 20px;
}

#sobercollective-page .sobercollective__posts-wrapper .sobercollective__post .sobercollective__post--date {
  font-size: 12px;
  line-height: 16px;
}

#sobercollective-page .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 2px;
  padding-top: 20px;
  font-family: "FFBauWebMedium";
}

#sobercollective-page .pagination span {
  color: black;
}

#sobercollective-page .pagination a,
#sobercollective-page .pagination a:visited,
#sobercollective-page .pagination a:focus,
#sobercollective-page .pagination a:hover {
  color: #9a968f;
  text-decoration: none;
}

#sobercollective-page .pagination .sobercollective__ellipses {
  color: #9a968f;
}

#sobercollective-page .pagination .pagination-prev {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#sobercollective-page .pagination .pagination-prev img {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#sobercollective-page .pagination .pagination-next {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

#sobercollective-page .pagination .pagination-next img {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

@media screen and (min-width: 1025px) {
  #sobercollective-page .sobercollective__top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #sobercollective-page .sobercollective__top-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #sobercollective-page .sobercollective__top-bar ul li a {
    font-family: "FFBauWebMedium";
    color: black;
    text-decoration: none;
  }
}